
# hyprpaper.conf
# hyprlock.conf

# machine_unique/hyprpaper.conf
machine_unique/monitor.conf
machine_unique/alt_sound.conf
machine_unique/brightness_sound.conf
machine_unique/waybar_toggle.conf

ignore/**
